<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<head>
    <title>Donator - dodaj klic</title>
    <link rel="stylesheet" href="/static/izgled4.css" type="text/css" media="all" />
</head>
<body>
	<strong><i><TMPL_VAR NAME=IME_DOKUMENTA></i></strong>
<TMPL_VAR NAME=MENU_POT>
<strong><TMPL_VAR NAME=napaka_opis></strong>
<TMPL_VAR NAME=akcija><br />
<input type="button" onclick="history.back() " value="nazaj"/>
   
</body>
</html>
