<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<head>
<title>Donator - <TMPL_VAR NAME=IME_DOKUMENTA></title>
<link rel="stylesheet" href="/static/izgled4.css" type="text/css" media="all" />
<SCRIPT LANGUAGE="JavaScript" 
	 SRC="/static/funkcije.js"></SCRIPT>
</head>
<body>
<div id="banner"><h1>D O N A T O R</h1></div>
<form name="myForm">        
<div id="centercontent">
	<TMPL_VAR NAME=MENU_POT>
	<p>
	<strong><i><TMPL_VAR NAME=IME_DOKUMENTA></i></strong> <TMPL_VAR NAME=POMOC>
	<!--
	<table border="1" >            
		<tr>
		<td>Uporabnisko ime:</td>
		<td>                  
		  <input type="ime"  name="edb_ime"
			id="edb_ime" size="22" maxlength="80"
			value="<tmpl_var name=edb_ime>">
		</td>
		</tr>
		<tr>
			<td>Geslo:</td>
			<td>
			  <input type="ulica"  name="edb_st" id="edb_st" size="22"
					 maxlength="80"	value="<tmpl_var name=edb_st>">
		   </td>
		</tr>
		
	</table>
	</form>
	-->
	<br /><br />
	<INPUT TYPE="button"  onclick="javascript:self.location='?rm=uredi&seja='"
		   VALUE="Dodaj">
	<!--
	 <input type="hidden" name="uporabnik" value="<TMPL_VAR NAME=uporabnik>" />
	-->
		<input type="hidden" name="seja" value="<TMPL_VAR NAME=seja>" />
		<TMPL_VAR NAME=SCRIPT>
		
		</form>
		<form name="brisi">
		<TABLE BORDER=1>


		<TR>
			<TD><B>Izbor</B></TD>                    
			<TD><B>Id</B></TD>
			<TD><B>Uporabnik</B></TD>                    
			<TD><B>Administrator</B></TD>                    
			<td style="text-align:center;">
			<label><input type="checkbox" name="izberiVse" value=""
				   id="izberiVse" onClick="IzberiVse(this.id)" />
			<strong >Brisi</strong></label>
			</td>
		</TR>

		<input type="hidden" name="rm" id="rm" value="zbrisi" />
		<input type="hidden" name="brisi" value="projekt" />
		<input type="hidden" name="id_poste" value="<tmpl_var name=edb_id>" />
		<TMPL_LOOP NAME="donator_loop">
		
		<TR>                    
			<TD><TMPL_VAR NAME="izbor"></TD>
			<TD><TMPL_VAR NAME="id"></TD>   
			<TD><TMPL_VAR NAME="ime"></TD>
			<TD><TMPL_VAR NAME="admin"></TD>   
			<TD style="text-align:center;">
			<input type="checkbox" onclick="PreveriOznacene()"
				   name="brisiId" value="<TMPL_VAR NAME="id">" />
			</TD>
		</TR>
		
	    </TMPL_LOOP>
		<tr>
			<td colspan=4 style="text-align:center; font-weight:bold;">
				<tmpl_var name=edb_triPike></td>
			<td><input type="button" name="brisi"
				onClick="Brisi()" value="brisi" /></td>
		</tr>
		
	   </TABLE>
				<tmpl_var name=smeh>
</div>
<TMPL_INCLUDE NAME="DntMenu.tmpl">

</form>
    
</body>
</html>

