<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Donator - <TMPL_VAR NAME=IME_DOKUMENTA></title>
    <link rel="stylesheet" href="/static/izgled4.css" type="text/css" media="all" />
    <SCRIPT LANGUAGE="JavaScript" 
         SRC="/static/funkcije.js"></SCRIPT>
</head>
<body>
    <div id="banner"><h1>D O N A T O R</h1></div>       
    <div id="centercontent">
        <TMPL_VAR NAME=MENU_POT>
        <p>
        <strong><i><TMPL_VAR NAME=IME_DOKUMENTA></i></strong> <TMPL_VAR NAME=POMOC>
        <br /> <br />
        <tmpl_var name=napaka>
		<br /> <br />
		<tmpl_var name=nazaj>
        
    </div>
    <TMPL_INCLUDE NAME="DntMenu.tmpl">
</body>
</html>
