<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<head>
<title>Donator - <TMPL_VAR NAME=IME_DOKUMENTA></title>
<link rel="stylesheet" href="/static/izgled4.css" type="text/css" media="all" />
<SCRIPT LANGUAGE="JavaScript" 
	 SRC="/static/funkcije.js"></SCRIPT>
</head>
<body>
<div id="banner"><h1>D O N A T O R</h1></div>       
<div id="centercontent">
	<TMPL_VAR NAME=MENU_POT>
	<strong><i><TMPL_VAR NAME=IME_DOKUMENTA></i></strong> <TMPL_VAR NAME=POMOC>
	<TMPL_VAR NAME=SCRIPT>
	<p>Zadnjih 10 izvozenih datotek: <TMPL_VAR NAME=prikazi></p>
	<TABLE BORDER=1>
    <form name="brisi">	

		<TR>
			<TD><B>Ime datoteke</B></TD>                    
			<TD><B>Datum</B></TD>
			<td style="text-align:center;">
			<label><input type="checkbox" name="izberiVse" value=""
				   id="izberiVse" onClick="IzberiVse(this.id)" />
			<strong >Brisi</strong></label>
			</td>
		</TR>
		<input type="hidden" name="rm" id="rm" value="zbrisi" />
		<input type="hidden" name="brisi" value="banka" />
		<input type="hidden" name="id_banke" value="<tmpl_var name=edb_id>" />
		
	 <TMPL_LOOP NAME="donator_loop">
		
		<TR>                    
			<TD><TMPL_VAR NAME="ime"></TD>
			<TD><TMPL_VAR NAME="datum"></TD>   
			<TD style="text-align:center;">
			<input type="checkbox" onclick="PreveriOznacene()"
				   name="brisiId" value="<TMPL_VAR NAME="id">" />
			</TD> 
		</TR>
		
		
	 </TMPL_LOOP>
	<tr>
		<td colspan=2 style="text-align:center; font-weight:bold;">
			<tmpl_var name=edb_triPike></td>
		<td><input type="button" name="brisi"
			onClick="Brisi()" value="brisi" /></td>
	</tr>
	</form>
   </TABLE>
</div>
<TMPL_INCLUDE NAME="DntMenu.tmpl">

    
</body>
</html>

